@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Medium.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Black.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sattinda";
  src: url("./assets/fonts/Sattinda/Sattinda.otf");
}

@layer base {
  :root {
    --background: #0b0b0b;
    --foreground: #f8f8f8;
    --primary: #00a79c;
    --content: #121212;
  }

  * {
    box-sizing: border-box;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    color: var(--foreground);
    font-family: Gotham, sans-serif;
    scroll-behavior: smooth;
    overflow-y: auto;
  }

  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-primary {
    color: var(--primary);
  }

  .font-sattinda {
    font-family: Sattinda;
  }

  .border-primary {
    border-color: var(--primary);
  }

  .menu-button {
    @apply grid flex-1 place-content-center h-[114px] min-w-[270px] md:max-w-[353px] border border-[#DFDFDF52] rounded-[20px] cursor-pointer;
  }

  .cuisine {
    @apply bg-[url(./assets/images/cuisine.png)];
  }

  .bar {
    @apply bg-[url(./assets/images/bar.png)];
  }

  .language-select {
    @apply cursor-pointer px-1 rounded-[5px] border-[var(--primary)];
  }

  .category {
    @apply px-[14px] py-[8px] border-2 border-[var(--primary)] rounded-[12px] text-[var(--primary)] cursor-pointer;
  }

  .category-section {
    @apply py-7 min-h-dvh w-full bg-[url(./assets/images/categories-background.png)];
  }

  .category-section-title {
    @apply uppercase text-[18px]/[18px] md:text-[35px]/[32px] md:max-w-[230px] text-center;
  }

  .service-fee {
    @apply absolute right-6 top-3 md:top-5 text-[7px] md:text-[14px] font-thin uppercase;
  }

  #cuisineCategories,
  #barCategories {
    @apply w-full py-[38px];
  }

  .burger-menu,
  .close-menu {
    @apply md:hidden w-[48px] h-[48px] rounded-full bg-[var(--primary)] grid place-content-center cursor-pointer;
  }
}
