@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham/Gotham-Black.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sattinda";
  src: url("./assets/fonts/Sattinda/Sattinda.otf");
}

@theme {
  --breakpoint-md: 640px;
}

@layer base {
  :root {
    --background: #0b0b0b;
    --foreground: #f8f8f8;
    --primary: #00a79c;
    --content: #121212;
  }

  * {
    box-sizing: border-box;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    color: var(--foreground);
    font-family: Gotham, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @apply font-medium;
  }

  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-primary {
    color: var(--primary);
  }

  .font-sattinda {
    font-family: Sattinda;
  }

  .border-primary {
    border-color: var(--primary);
  }

  .menu-button {
    @apply grid flex-1 place-content-center h-[114px] min-w-[270px] md:max-w-[353px] border border-[#DFDFDF52] rounded-[20px] cursor-pointer;
  }

  .cuisine {
    @apply bg-[url(./assets/images/cuisine.png)];
  }

  .bar {
    @apply bg-[url(./assets/images/bar.png)];
  }

  .language-select {
    @apply cursor-pointer max-w-[46px] px-1 mb-2 rounded-[5px] border-[var(--primary)];
  }

  .category {
    @apply px-[10px] py-[4px] border-2 border-[var(--primary)] rounded-[12px] text-[var(--primary)] cursor-pointer;
  }

  .category-section {
    @apply py-6 w-full;
  }

  .category-section-title {
    @apply uppercase text-[18px]/[18px] md:text-[35px]/[32px] w-auto;
  }

  .service-fee {
    @apply absolute right-3 md:right-6 top-3 md:top-5 text-[7px] md:text-[14px] font-normal uppercase;
  }

  #cuisineCategories,
  #barCategories {
    @apply w-full py-[38px] overflow-x-hidden;
  }

  #cuisineCategories {
    background-image: url("./assets/images/categories-background.png");
    background-size: 100%;
    background-repeat: repeat-y;
    position: relative;
  }

  #barCategoriesContent,
  #cuisineCategoriesContent {
    @apply w-full relative;
  }

  .burger-menu {
    @apply sticky z-20 top-10 right-0 left-0;
  }

  .burger-menu,
  .close-menu {
    @apply md:hidden w-[48px] h-[48px] rounded-full bg-[var(--primary)] grid place-content-center cursor-pointer;
  }

  .button-shadow {
    box-shadow: 0px 0px 17.9px 0px #00a79c94;
  }

  .drinks-container {
    @apply w-full max-w-[800px] mx-auto;
  }
}
